<h1 class="mb-3">Battle</h1>

<h4 class="mb-3">Against: <%= @battle.users.reject { |user| user == current_user }.first.email %></h4>

<div class="mb-4">
  <% @ordered_states.each do |battle_state| %>
    <% user = battle_state.user %>

    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col" class="col-sm-4"><span class="<%= class_names({'text-primary': user == current_user}) %>"><%= user.email %></span></th>
          <th scope="col" class="col-sm-4">Health: <span class='text-danger'><%= battle_state.health %></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="font-monospace">
            Turn: TBD
            <br>
            <span style="white-space: pre;">  LH:</span>
            <br>
            <span style="white-space: pre;">  RH:</span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="w-75 position-relative start-50 translate-middle-x">
  <% if @current_state.orders_finished %>
    <!-- This table displays the users previous input, if they had any -->
    <table class="table mb-4">
      <thead class="table-light">
        <tr>
          <th scope="col" class="col-md-1">Hand</th>
          <th scope="col" class="col-md-1">Gesture</th>
          <th scope="col" class="col-md-4">Spell</th>
          <th scope="col" class="col-md-4">Target</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Left
          </td>
          <td>
            <%= @current_state.orders_left_gesture %>
          </td>
          <td>
            <%= @current_state.orders_left_spell %>
          </td>
          <td>
            <%= @current_state.orders_left_target %>
          </td>
        </tr>
        <tr>
          <td>
            Right
          </td>
          <td>
            <%= @current_state.orders_right_gesture %>
          </td>
          <td>
            <!-- There are 42 unique spells in total. -->
            <%= @current_state.orders_right_spell %>
          </td>
          <td>
            <%= @current_state.orders_right_target %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="card card-body">
    <!-- This is the input form. -->
    <%= form_with(url: battle_orders_path(@battle.id), method: "patch") do |form| %>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col" class="col-md-1">Hand</th>
            <th scope="col" class="col-md-1">Gesture</th>
            <th scope="col" class="col-md-4">Spell</th>
            <th scope="col" class="col-md-4">Target</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Left
            </td>
            <td>
              <%= form.select :left_gesture, ["-", ">", "C", "D", "F", "P", "S", "W"], class: "form-select" %>
            </td>
            <td>
              <!-- There are 42 unique spells in total. -->
              <%= form.select :left_spell, Battle::SPELL_NAMES, class: "form-select" %>
            </td>
            <td>
              <%= form.select :left_target, @targets, class: "form-select" %>
            </td>
          </tr>
          <tr>
            <td>
              Right
            </td>
            <td>
              <%= form.select :right_gesture, ["-", ">", "C", "D", "F", "P", "S", "W"], class: "form-select" %>
            </td>
            <td>
              <!-- There are 42 unique spells in total. -->
              <%= form.select :right_spell, Battle::SPELL_NAMES, class: "form-select" %>
            </td>
            <td>
              <%= form.select :right_target, @targets, class: "form-select" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @current_state.orders_finished %>
        <%= form.submit "Change Orders", class: "float-end btn btn-warning" %>
      <% else %>
        <%= form.submit "Submit Orders", class: "float-end btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>