<h1 class="mb-3">Battle</h1>

<h4 class="mb-3">Against: <%= @battle.users.reject { |user| user == current_user }.first.email %></h4>

<div class="mb-4">
  <% @ordered_states.each do |battle_state| %>
    <% user = battle_state.user %>

    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col"><span class="<%= class_names({'text-primary': user == current_user}) %>"><%= user.email %></span></th>
          <th scope="col">Health: <span class='text-danger'><%= battle_state.health %></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="font-monospace">
            Turn: TBD
            <br>
            <span style="white-space: pre;">  LH:</span>
            <br>
            <span style="white-space: pre;">  RH:</span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="w-75 position-relative start-50 translate-middle-x">
  <%= form_with do |form| %>
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">Hand</th>
          <th scope="col">Gesture</th>
          <th scope="col">Spell</th>
          <th scope="col">Target</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Left
          </td>
          <td>
            <%= form.select :left_sign, ["-", ">", "C", "D", "F", "P", "S", "W"], class: "form-select" %>
          </td>
          <td>
            <!-- There are 42 unique spells in total. -->
            <%= form.select :left_spell, Battle::SPELL_NAMES, class: "form-select" %>
          </td>
          <td>
            <%= form.select :left_target, @targets, class: "form-select" %>
          </td>
        </tr>
        <tr>
          <td>
            Right
          </td>
          <td>
            <%= form.select :right_sign, ["-", ">", "C", "D", "F", "P", "S", "W"], class: "form-select" %>
          </td>
          <td>
            <!-- There are 42 unique spells in total. -->
            <%= form.select :right_spell, Battle::SPELL_NAMES, class: "form-select" %>
          </td>
          <td>
            <%= form.select :right_target, @targets, class: "form-select" %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= form.submit "Submit Turn", class: "float-end btn btn-primary" %>
  <% end %>
</div>