<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Spellbinder", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Start Battle", battle_search_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Invitations", invitation_show_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <ul class="nav-item dropdown navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account: <%= current_user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "btn" %>
            </li>
            <li>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %>
            </li>
          </ul>
        </ul>
      <% else %>
        <div class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>

      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>